
$lpg-white: #ffffff;
$lpg-dark-grey: #7a7d7d;
$lpg-grey:  #d0cfcf;
$lpg-offwhite: #fffbfe;
$lpg-dark-green: #596c68;
$lpg-green: #95a792;

$ipad-breakpoint: 600px;
$desktop-breakpoint: 800px;


// Styling for Desktop

@media only screen and (min-width: $desktop-breakpoint) {

  a {
    text-decoration: none;
   color: $lpg-grey ;
  }
  a:hover {
    color: $lpg-dark-grey;
  }

  body {
    background: white;
    font-family: "Yantramanav", sans-serif;
    font-weight: 200;
    font-size: 40px;



    h1 {
      font-weight: 100;
    }

    .name {
      text-transform: uppercase;
      display: block;
      font-size: 48px;
      margin-top: 66px;
      margin-left: 72px;
      font-weight: 200;
      font-family: "Roboto", sans-serif;
      color: $lpg-green;
      text-align: left;

      .lastname {
        color: $lpg-grey;
      }

    }

    .nav-menu {
      flex: 1;
      display: flex;
      flex-direction: column;
      left: 20px;
      top: 0;
      width: calc(20vw - 30px);
      padding: 10px;
      font-size: 24px;
      justify-content:flex-start;
      align-items: flex-start;
      text-transform: uppercase;
      color: $lpg-dark-green;

      * {
        flex-wrap: wrap;
        padding: 18px;
      }

    }

    .main {
      width: 100vw;
      display: flex;
      text-align: center;
      padding: 84px 36px;
      .drop-shadow {
        border: 6px solid rgba(222,222,222,.6)
      }

      .nav-page {
        margin: 0 auto;
        flex: 3;
      }
    }

    #featured-image {
      height: 60vh;
      margin: 0 auto;
    }

  }

  .galleries {
    padding: 66px;

    h4 {
      font-size: 36px;
      font-weight: 100;
      color: $lpg-green;
      font-family: "Roboto", sans-serif;
    }

    ul {
      color: $lpg-grey;
      padding: 0;
      li {
        list-style: none;
        font-size: 24px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 40px);
    padding: 40px;
    height: 5vh;

    p {
      flex: 18;
      font-size: 24px;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      color: $lpg-grey;
      text-transform: uppercase;
    }

    .social-media-icon {
      flex: 1;

      img {
        height: 48px;
      }

    }

  }

}
